extends layout


block content
    include header
    .main
        .main-inner.flex
            .fg.left
                include editmenu
                include blogList
            .right
                include category
                include navLink
