.editmenu.flex.a-center
    .edit.fg
        i.fa.fa-question-circle-o 
            a 提问
        i.fa.fa-book 
            a 回答
        i.fa.fa-pencil 
            a(href='/blog/newBlog') 写文章
    .draft 草稿