doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/javascripts/jquery-3.2.1.js')
    //uploads
    //object(data='dropify.svg',type='image/svg+xml',href='/javascripts/uploads/fonts/')
    link(rel='stylesheet',href='/javascripts/uploads/dropify.css')
    
  body
    block content
