.navLink
    a(href='#').linkItem
        i.fa.fa-heart 
        span 我的收藏
    a(href='#').linkItem
        i.fa.fa-bookmark 
        span 我关注的问题
    a(href='#').linkItem
        i.fa.fa-envelope 
        span 我的邀请
    a(href='#').linkItem
        i.fa.fa-feed 
        span 社区服务中心
    a(href='#').linkItem
        i.fa.fa-compass 
        span 版权服务中心
    a(href='#').linkItem
        i.fa.fa-clone 
        span 公共编辑动态