extends layout

block content
    h1 welcome to #{name}'s BlogSite
    a.btn.btn-default.btn-sm(href='/users/login') Login
    a.btn.btn-default.btn-sm(style='margin-left:10px',href='/users/signUp') SignUp